.main-grid {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 70px calc(100% - 70px);

  .search-row {
    grid-column: 1;
    grid-row: 1;
    text-align: center;

    .search-field {
      width: 300px;
    }
  }

  .results-row {
    grid-column: 1;
    grid-row: 2;
  }
}
